@font-face {
  font-family: 'gs-icons';
  src:  url('fonts/gs-icons.eot?gcdxdh');
  src:  url('fonts/gs-icons.eot?gcdxdh#iefix') format('embedded-opentype'),
    url('fonts/gs-icons.ttf?gcdxdh') format('truetype'),
    url('fonts/gs-icons.woff?gcdxdh') format('woff'),
    url('fonts/gs-icons.svg?gcdxdh#gs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.gs-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gs-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gs-unit-plan-01:before {
  content: "\e92f";
}
.gs-unit-plan-02:before {
  content: "\e941";
}
.gs-unit-plan-3:before {
  content: "\e92e";
}
.gs-license-3:before {
  content: "\e92d";
}
.gs-license-4:before {
  content: "\e935";
}
.gs-license-2:before {
  content: "\e92c";
}
.gs-unit-plan-manager-2:before {
  content: "\e92a";
}
.gs-unit-plan-2:before {
  content: "\e92b";
}
.gs-unit-plan:before {
  content: "\e929";
}
.gs-assignment:before {
  content: "\e926";
}
.gs-unit-plan-manager:before {
  content: "\e928";
}
.gs-order-history:before {
  content: "\e927";
}
.gs-bulk-class-editor:before {
  content: "\e924";
}
.gs-study-material:before {
  content: "\e91c";
}
.gs-edit:before {
  content: "\e91b";
}
.gs-change-history:before {
  content: "\e915";
}
.gs-promote-class-2:before {
  content: "\e911";
}
.gs-promote-class:before {
  content: "\e923";
}
.gs-invitation:before {
  content: "\e91f";
}
.gs-license-history:before {
  content: "\e922";
}
.gs-support-history:before {
  content: "\e925";
}
.gs-coach:before {
  content: "\e91a";
}
.gs-subscription:before {
  content: "\e920";
}
.gs-teacher-list:before {
  content: "\e921";
}
.gs-material-orders:before {
  content: "\e918";
}
.gs-material-orders-1:before {
  content: "\e919";
}
.gs-student-verification:before {
  content: "\e917";
}
.gs-points:before {
  content: "\e912";
}
.gs-term:before {
  content: "\e910";
}
.gs-tags:before {
  content: "\e904";
}
.gs-region-coach:before {
  content: "\e905";
}
.gs-talktime-access:before {
  content: "\e90d";
}
.gs-talktime-access-1:before {
  content: "\e90e";
}
.gs-add-region:before {
  content: "\e903";
}
.gs-region:before {
  content: "\e914";
}
.gs-campus-admin:before {
  content: "\e907";
}
.gs-add-campus:before {
  content: "\e916";
}
.gs-add-class:before {
  content: "\e91d";
}
.gs-add-school:before {
  content: "\e91e";
}
.gs-training-manager:before {
  content: "\e909";
}
.gs-global-head:before {
  content: "\e913";
}
.gs-account-manager:before {
  content: "\e900";
}
.gs-admin:before {
  content: "\e901";
}
.gs-campus:before {
  content: "\e902";
}
.gs-class:before {
  content: "\e906";
}
.gs-class-teacher:before {
  content: "\e908";
}
.gs-region-admin:before {
  content: "\e90a";
}
.gs-school:before {
  content: "\e90b";
}
.gs-school-admin:before {
  content: "\e90c";
}
.gs-super-admin:before {
  content: "\e90f";
}
